:root{--karamelova: #F6EEE2}*{box-sizing:border-box}body{margin:0;font-family:"Arial CE",Arial,sans-serif;line-height:1.6}.header{padding:1.5em 2em .1em}.nav{padding-left:1em;padding-bottom:2em}.section{min-height:100vh;padding:2em 2em 30vh;display:flex;flex-direction:column;justify-content:center}.section:nth-of-type(2n-1){background:var(--karamelova)}.footer{padding:1.5em 2em}.back-to-top,.scroll-to-bottom{position:fixed;right:1rem;border:1px solid gray;border-radius:.25rem;background-color:#f8f9fa;padding:.375rem .75rem}.back-to-top{bottom:1rem}.scroll-to-bottom{top:1rem}

/*# sourceMappingURL=index.2c17539e55e114d2948c.css.map*/